.open-post_container {
    margin: 5rem auto 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.open-post_title {
    color: blueviolet;
    font-weight: bold;
    margin: 1rem 0;
}
.open-post_content {
    color: black;
    text-align: center;
    margin-bottom: 1rem;
}
.open-post_content::first-letter {
    color: black;
    font-weight: bold;
}
